@dluflBlue: #002e5b;
@defaultColor: #fff;
@lineColor: #cccccc;
@fixWidth: 1120px;
@btnColor: #fdd428;
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Microsoft Yahei';
  width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: @dluflBlue;
  }
}
.cleanfix {
  clear: both;
}
#warpper {
  width: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: @fixWidth) {
	.nav, .topbar, #banner, .intro, .content, .intro-text, .intro-title {
		width: @fixWidth!important;
	}
}
.topbar {
  height: 37px;
  background-color: @dluflBlue;
  ul {
    margin: 0 auto;
    padding: 8px;
    width: @fixWidth;
    li {
      a {
        color: @defaultColor;
      }
      display: block;
      text-align: right;
    }
  }
}


.nav {
  height: 70px;
  margin: 0 auto;
  border-bottom: 1px solid @lineColor;
  .nav-content {
    width: @fixWidth;
    margin: 0 auto;
  }
  .logo {
    margin-left: 15px;
    line-height: 70px;
    float: left;
    display: inline-block;
  }
  .nav-bar {
    float: right;
    line-height: 70px;
    display: inline-block;
    ul {
      font-size: 0;
      margin: 0;
      li {
        ul {
          display: none;
          margin-left: -12px;
          position: absolute;
          z-index: 100;
          li {
            background-color: @defaultColor;
            line-height: 45px;
            padding: 0 12px;
            float: none;
            display: block;
            a {
              color: #000;
            }
            &:hover {
              a {
                color: @defaultColor;
              }
            }
          }
        }
        font-size: 14px;
        display: inline-block;
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  }
}

.intro {
  width: 100%;
  height:250px;
  background-color: @dluflBlue;
  padding: 30px 0;
  .content {
    width: 1120px;
    height: 100%;
    margin: 0 auto;

    .intro-title {
      padding: 10px 20px;
      h5 {
        margin: 0;
        padding: 0;
        color: @defaultColor;
        font-size: 30px;
      }
    }
    .intro-text {
      padding: 10px 20px;
      p {
        width:80%;
        color: @defaultColor;
        opacity: .7;
        font-size: 15px;
        text-indent: 30px;
        line-height: 30px;
        display: inline-block;
      }
      a {
        text-align: center;
        display: inline-block;
        padding: 15px 20px;
        background-color: @btnColor;
        position: relative;
        bottom: 50px;
        left: 95px;
      }
    }
  }
}

.flexslider {
  border: none !important;
  margin: 0;
}
.flex-caption h3{
	font-family: 'Montserrat', sans-serif;
}
.flex-caption p {
    line-height: 22px;
    font-weight: 300;
    color: #002e5b;
    text-transform: capitalize;
}
.flex-caption {
  zoom: 1;
  bottom: 198px;
  background-color: transparent;
  color: #fff;
  margin: 0;
  padding: 2px 25px 0px 30px;
  position: absolute;
  left: 0;
  text-align: left;
  margin: 0 auto;
  right: 0px;
  display: inline-block;
  bottom: 24%;
  width: 80%;
  right: 0 !important;
  border-radius: 15px 15px 0 0;
}
.flex-caption h3 {
  color: #002e5b;
  letter-spacing: 0px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 700;
}
.flex-caption p {
  margin: 12px 0 18px;
  font-size: 22px;
  font-weight: 400;
}
